<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "post[usuario_id]", current_user.id %>

  <div class="field">
    <%= form.label :conteudo %>
    <%= form.text_field :conteudo, id: :post_conteudo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
